<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
</head>
<body>
<nav th:fragment="sidebar" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse overflow-auto">
    <div class="position-sticky pt-3 flex-shrink-0 p-3">
        <div class="d-flex text-muted pb-3">
            <div class="mb-0 w-100 pt-1">
                <div class="d-flex justify-content-center">
                    <h6 class="text-gray-dark">Full Name</h6>
                </div>
            </div>
        </div>
        <a href="/" class="d-flex align-items-center pb-2 mb-2 link-dark text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold">Dashboard</span>
        </a>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">User</button>
                <div class="collapse" id="home-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a href="#" class="link-dark rounded">Overview</a>
                        </li>
                        <li>
                            <a href="#" class="link-dark rounded">Updates</a>
                        </li>
                        <li>
                            <a href="#" class="link-dark rounded">Sign out</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false"> Dashboard </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a href="#" class="link-dark rounded">Overview</a>
                        </li>
                        <li>
                            <a href="#" class="link-dark rounded">Weekly</a>
                        </li>
                        <li>
                            <a href="#" class="link-dark rounded">Monthly</a>
                        </li>
                        <li>
                            <a href="#" class="link-dark rounded">Annually</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false"> Orders </button>
                <div class="collapse" id="orders-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a href="#" class="link-dark rounded">New</a>
                        </li>
                        <li>
                            <a href="#" class="link-dark rounded">Processed</a>
                        </li>
                        <li>
                            <a href="#" class="link-dark rounded">Shipped</a>
                        </li>
                        <li>
                            <a href="#" class="link-dark rounded">Returned</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
        </ul>
    </div>
</nav>
</body>
</html>