<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Loans</title>
</head>
<body>
<div th:fragment="content">
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        <strong><span th:text="#{${param.error}}"></span></strong>
    </div>

    <form action="#" th:action="@{/account_loan/searchAccount}" th:object="${accountSearchInputDto}" method="post">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-2">
            <div class="col-4">
                <label for="search-input" class="form-label">Account Id</label>
                <div class="input-group mb-3">
                    <input type="search" class="form-control" id="search-input" placeholder=""
                           aria-label="Search By Account Id" aria-describedby="search-submit" th:field="*{accountId}"
                           autofocus required>
                    <button class="btn btn-outline-secondary" type="submit" id="search-submit">Find</button>
                </div>
            </div>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Amount</th>
                <th scope="col">Refund Duration</th>
                <th scope="col">Currency</th>
                <th scope="col">Interest Rate</th>
                <th scope="col">Request Date</th>
                <th scope="col">Deposit Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="loanDtoItem,iterStat : ${loanDtoList}" th:class="${iterStat.odd}? 'odd'">
                <td class="align-middle" th:text="${loanDtoItem.id}"></td>
                <td class="align-middle" th:text="${loanDtoItem.amount}"></td>
                <td class="align-middle" th:text="${loanDtoItem.refundDuration}"></td>
                <td class="align-middle" th:text="${loanDtoItem.currency}"></td>
                <td class="align-middle" th:text="${loanDtoItem.interestRate}"></td>
                <td class="align-middle" th:text="${loanDtoItem.requestDate}"></td>
                <td class="align-middle" th:text="${loanDtoItem.depositDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>