<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<div th:fragment="content">
    <form action="#" th:action="@{/change_password/changePassword}" th:object="${userChangePasswordInputDto}"
          method="post">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-2">
            <div class="col-4">
                <div class="mb-3">
                    <label for="old-password" class="form-label">Old Password</label>
                    <input type="password" class="form-control" id="old-password" placeholder=""
                           th:field="*{oldPassword}" autocapitalize="none" autocomplete="off" maxlength="80"
                           minlength="1"
                           autofocus required/>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-2">
            <div class="col-4">
                <div class="mb-3">
                    <label for="new-password" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="new-password" placeholder=""
                           th:field="*{newPassword}" autocomplete="new-password" spellcheck="false"
                           autocapitalize="none" minlength="8" maxlength="30" required/>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-2">
            <div class="col-4">
                <div class="mb-3">
                    <label for="repeat-new-password" class="form-label">Repeat New Password</label>
                    <input type="password" class="form-control" id="repeat-new-password" placeholder=""
                           th:field="*{repeatNewPassword}"
                           autocapitalize="none" autocomplete="off" maxlength="80" minlength="1" required/>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-5">
            <div class="col-2">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>

    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        <strong><span th:text="#{${param.error}}"></span></strong>
    </div>
</div>
</body>
</html>