<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content">
      <p th:text="${param.error}"></p>

      <form action="#" th:action="@{/customer/addCustomer}" th:object="${customerInputDto}" method="post">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-2">
          <div class="col-4">
            <div class="mb-3">
              <label for="firstname" class="form-label">First Name</label>
              <input type="text" class="form-control" id="firstname" placeholder="First Name" th:field="*{firstName}" required />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="lastname" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Last Name" th:field="*{lastName}" required />
            </div>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-8 g-4 mb-2">
          <div class="col-8">
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="Address" th:field="*{address}" />
            </div>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-5">
          <div class="col-2">
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </div>
      </form>

      <form action="#" th:action="@{/customer/searchCustomer}" th:object="${searchCustomerInputsDto}" method="post">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
          <div class="col-auto">
            <label for="search-input" class="visually-hidden">Search By CustomerNo</label>
            <input type="text" class="form-control" id="search-input" placeholder="CustomerNo" th:field="*{customerNo}">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Search</button>
          </div>
        </div>
      </form>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Address</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="customer : ${customerList}">
            <td class="align-middle" th:text="${customer.id}"></td>
            <td class="align-middle" th:text="${customer.firstName}"></td>
            <td class="align-middle" th:text="${customer.lastName}"></td>
            <td class="align-middle" th:text="${customer.address}"></td>
            <td>
              <form method="POST" th:action="@{/customer/editCustomer/{id}(id=${customer.id})}">
                <button class="btn btn-primary btn-sm" type="submit">Edit</button>
              </form>
            </td>
            <td>
              <form method="POST" th:action="@{/customer/deleteCustomer/{id}(id=${customer.id})}">
                <button class="btn btn-secondary btn-sm" type="submit">Delete</button>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
</body>
</html>