<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div th:fragment="content">
        <form action="#" th:action="@{/auth/login}" th:object="${loginInputDto}" method="post">
            <div class="form-outline mb-4 position-relative">
                <input type="text" id="username" class="form-control" placeholder="Username" th:field="*{username}"
                       autocomplete="username" spellcheck="false" autocapitalize="none"  tabindex="1"
                       aria-label="Username" aria-describedby="username-tooltip"
                       required />
            </div>
            <div class="form-outline mb-4 position-relative">
                <input type="password" id="password" class="form-control" placeholder="Password" th:field="*{password}"
                       autocomplete="current-password" spellcheck="false" autocapitalize="none" tabindex="2"
                       aria-label="Password" aria-describedby="password-tooltip" required />
            </div>
            <div class="form-outline mb-4">
                <a th:href="@{/register/index}">Register</a>
            </div>
            <button type="submit" class="btn btn-outline-success btn-block mb-4">Sign In</button>
            <div th:if="${#fields.hasErrors('global')}" class="alert alert-danger">
                <strong><span th:each="err : ${#fields.errors('global')}" th:text="#{${err}}"></span></strong>
            </div>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                <strong><span th:text="${param.error}"></span></strong>
            </div>
        </form>

    </div>
</body>
</html>