<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transactions Report</title>
</head>
<body>
<div th:fragment="content">
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        <strong><span th:text="${param.error}"></span></strong>
    </div>

    <form action="#" th:action="@{/transaction_report/exportTransactions}" th:object="${transactionReportInputDto}"  method="get">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-2">
            <div class="col-4">
                <div class="mb-3">
                    <label for="fromDate" class="form-label">From Date</label>
                    <input type="datetime-local" class="form-control" id="fromDate" placeholder="" th:field="*{fromDate}"
                           autocapitalize="none" required />

                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label for="to-date" class="form-label">To Date</label>
                    <input type="datetime-local" class="form-control" id="to-date" placeholder="" th:field="*{toDate}"
                           autocapitalize="none" required />
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-2">
            <div class="col-4">
                <div class="mb-3">
                    <label for="currencies" class="form-label">Currency</label>
                    <select id="currencies" th:field="*{exportType}"  class="form-select" aria-label="select currency">
                        <option th:each="exportType : ${T(com.tosan.model.ExportTypes).values()}" th:value="${exportType}" th:text="${exportType}">
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-3">
            <div class="col-2">
                <button class="btn btn-primary" type="submit">Export to excel</button>
            </div>
        </div>

        <div th:if="${#fields.hasErrors('global')}" class="row row-cols-1 row-cols-sm-2 row-cols-md-8 g-4 mb-3">
            <div class="col-8">
                <div class="alert alert-danger" role="alert">
                    <strong><span th:each="err : ${#fields.errors('global')}" th:text="${err}"></span></strong>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>