<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <div th:fragment="content">
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            <strong><span th:text="${param.error}"></span></strong>
        </div>

    <form action="#" th:action="@{/user/addUser}" th:object="${userInputs}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-2">
            <div class="col-4">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="" th:field="*{username}"
                           autocapitalize="none" autocomplete="off" maxlength="40" minlength="1" required />
                </div>
            </div>

        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-2">
            <div class="col-4">
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="" th:field="*{password}"
                           autocapitalize="none" autocomplete="off" maxlength="80" minlength="1" required />
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-2">
            <div class="col-4">
                <div class="mb-3">
                    <label for="userTypes" class="form-label">User Type</label>
                    <select id="userTypes" th:field="*{userType}"  class="form-select" aria-label="select user type">
                        <option th:each="userType : ${T(com.tosan.model.UserTypes).values()}" th:value="${userType}" th:text="${userType}">
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-5">
            <div class="col-2">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">UserType</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="customer" type="com.tosan.core_banking.dtos.UserDto"*/-->
                <tr th:each="user,iterStat : ${userOutputs}" th:class="${iterStat.odd}? 'odd'">
                    <td class="align-middle" th:text="${user.id}"></td>
                    <td class="align-middle" th:text="${user.username}"></td>
                    <td class="align-middle" th:text="${user.userType}"></td>
                    <td>
                        <form method="POST" th:action="@{/user/editUser/{id}(id=${user.id})}">
                            <button class="btn btn-primary btn-sm" type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" th:action="@{/user/deleteUser/{id}(id=${user.id})}">
                            <button class="btn btn-secondary btn-sm" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>