<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<div th:fragment="content">
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        <strong><span th:text="#{${param.error}}"></span></strong>
    </div>

    <form action="#" th:action="@{/customer/addCustomer}" th:object="${customerDto}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-2">
            <div class="col-4">
                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstname" placeholder="" th:field="*{firstName}"
                           autocapitalize="sentences" maxlength="40" minlength="1" autofocus required/>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastname" placeholder="" th:field="*{lastName}"
                           autocapitalize="sentences" maxlength="80" minlength="1" required/>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-8 g-4 mb-2">
            <div class="col-8">
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="" th:field="*{address}"
                           maxlength="100" autocapitalize="none"/>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-3">
            <div class="col-2">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>

        <div th:if="${#fields.hasErrors('global')}" class="row row-cols-1 row-cols-sm-2 row-cols-md-8 g-4 mb-3">
            <div class="col-8">
                <div class="alert alert-danger" role="alert">
                    <strong><span th:each="err : ${#fields.errors('global')}" th:text="#{${err}}"></span></strong>
                </div>
            </div>
        </div>
    </form>

    <form action="#" th:action="@{/customer/searchCustomer}" th:object="${customerSearchInputDto}" method="post">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
            <div class="col-4">
                <label for="search-input" class="form-label">Search by CustomerId</label>
                <div class="input-group mb-3">
                    <input type="search" class="form-control" id="search-input" placeholder="" autocapitalize="off"
                           aria-label="Search by Customer Id" aria-describedby="search-submit" th:field="*{customerId}">
                    <button class="btn btn-outline-secondary" type="submit" id="search-submit">Search</button>
                </div>
            </div>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Address</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customerDtoItem,iterStat : ${customerDtoList}" th:class="${iterStat.odd}? 'odd'">
                <td class="align-middle" th:text="${customerDtoItem.id}"></td>
                <td class="align-middle" th:text="${customerDtoItem.firstName}"></td>
                <td class="align-middle" th:text="${customerDtoItem.lastName}"></td>
                <td class="align-middle" th:text="${customerDtoItem.address.length() < 30 ? customerDtoItem.address : customerDtoItem.address.substring(0, 20).concat('...')}"></td>
                <td class="align-middle">
                    <form method="POST" th:action="@{/customer/editCustomer/{id}(id=${customerDtoItem.id})}">
                        <button class="btn btn-primary btn-sm" type="submit">Edit</button>
                    </form>
                </td>
                <td class="align-middle">
                    <form method="POST" th:action="@{/customer/deleteCustomer/{id}(id=${customerDtoItem.id})}">
                        <button class="btn btn-secondary btn-sm" type="submit">Delete</button>
                    </form>
                </td>
                <td class="align-middle">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/account/index(customer_id=${customerDtoItem.id})}">Open
                                Account</a></li>
                            <li><a class="dropdown-item"
                                   th:href="@{/customer_account/index(customer_id=${customerDtoItem.id})}">Show
                                Accounts</a></li>
                            <li><a class="dropdown-item"
                                   th:href="@{/customer_loan/index(customer_id=${customerDtoItem.id})}">Show Loans</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>