@charset "UTF-8";

body {
    background-color: #fff;
    color: #333;
}

.hero {
    width: 100%;
    height: calc(100vh - 40px);
    background-size: 100%;
    position: relative;
    margin-top: 40px;
}

@media (min-width: 1025px) {
    .hero {
        background-attachment: fixed;
    }
}

.hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    font-family: Helvetica, Arial, sans-serif;
    color: #6ac8a0;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

.hero h2 {
    color: #777;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

.hero h3 {
    color: #6ac8a0;
}

.hero img {
    max-width: 95%;
    margin-bottom: 30px;
}

.hero .hero-container .hero-form {
    min-width: 26rem;
}